<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.sample.mainproj">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CUSTOM_CONTACTS" /> <!-- Ctrl + / : 주석 -->
    <!-- <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- MapActivity에서 사용 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--
    PhotoActivity에서 사용
    https://developer.android.com/training/camera/photobasics?hl=ko 참조
    현재 안드로이드 버전에서는 해당 권한이 없어도 동작한다.
    안드로이드 4.4 버전 이상의 경우 외부 저장소에 접근(사진 파일 저장을 위해)
    을 하기 위해서는 아래에 해당하는 권한이 필요하기 때문에 정의를 하여준다.
    인텐트를 사용해 ACTION_IMAGE_CAPTURE 으로 카메라 접근하는 경우는
    android.permission.CAMERA 권한이 필요하지 않기 때문에 추가하지 않는다.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="android.permission.READ_CUSTOM_CONTACTS"
        android:protectionLevel="normal" />

    <queries>
        <package android:name="com.android.sample.subproj" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activity.MusicServiceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PhotoActivity"
            android:exported="false" />

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.service.LOCATION" />
            </intent-filter>
        </service>
        <service
            android:name=".service.LocalMusicService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.service.MUSIC" />
            </intent-filter>
        </service>
        <service
            android:name=".service.RestartService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.RemoteMusicService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.service.REMOTE_MUSIC" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity
            android:name=".activity.MapActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BroadCastReceiverActivity"
            android:exported="true" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UrlSchemaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="android"
                    android:scheme="mpp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ContentProviderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CustomToastActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CustomDialogActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AsyncTaskActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HandlerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SharedPrefActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TabActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NaviActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ClickApplyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RecycleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CustomListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ArrayListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.KeyBoardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScrollActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FontActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ResultCodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LayoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BasicActivity"
            android:exported="true" />

        <receiver
            android:name=".receiver.SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NotificationCancelReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFICATION_CANCEL" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.sample.mainproj"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_file_path" />
        </provider>
    </application>

</manifest>